@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --primary: #48A3FF;
  --secondary: #D9D9D9;
  --accent:#ECB100;
  --dark: #3B3B3B;
  --light: #FDFFFF;

}